<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mercado Liebre</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://kit.fontawesome.com/592bbc45d4.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <section class="header-topbar">
                <div class="header-topbar-logo">
                    <a href="http://localhost:3030/"> 
                        <img class="logo-header" width="300" src="img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
                    </a>
                    <form action="" method="get" target="_blank">
                        <input type="search" name="busqueda-productos" placeholder="Busca Productos, Marcas y Mas.">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </form>
                </div>
                    <h2 class="header-cuotas-tarjetas">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Compra en cuotas y en tarjetas de credito
                    </h2>
                      
            </section>

            <nav class="main-navbar">
                    <ul class="navbar-left">
                        <li>
                          <a href="nav-menu-item">Ofertas</a>  
                        </li>
                        <li>
                            <a href="nav-menu-item">Tiendas Oficiales</a>
                        </li>
                        <li>
                            <a href="nav-menu-item">Vender</a>
                        </li>
                        <li>
                            <a href="nav-menu-item">Ayuda</a>
                        </li>
                    </ul>
                    <ul class="navbar-right">
                        <li>
                            <a href="">Creá tu cuenta</a>
                            <i class="fa-regular fa-address-card"></i>
                        </li>
                        <li>
                            <a href="">Ingresá</a>
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </li>
                        <li>
                            <a href="">Mis Compras</a>
                            <i class="fa-solid fa-basket-shopping"></i>
                        </li>
                    </ul>           
            </nav>
            
                <div class="burger-menu">
                    <i class="fas fa-bars" ></i>
                </div>
        </header>
        
     <main class="main_principal">

        <section class="seccion_ultima_visita">
            <div> 
                <h2>Basado en tu ultima visita</h2>
            </div>
                <div class="contenedor_articulo">
                    <div>
                        <img src="img/img-cafetera-moulinex.jpg" alt="Imagen Cafetera Moulinex">
                    </div>
                    <div class="contenedor_descripcion">
                        <i class="fa-solid fa-truck"></i>
                        <p class="price-main">$6.770</p>
                        <p class="offers-main">40% Off</p>
                        <p class="descripcion-main">Cafetera Moulinex</p>
                    </div>
                </div>
                    <div class="contenedor_articulo">
                        <img src="img/img-macbook-pro-2019.jpg" alt="Imagen Macbookpro 2019">
                        <div class="contenedor_descripcion">
                            <i class="fa-solid fa-truck"></i>    
                            <p class="price-main">$230.000</p>
                            <p class="offers-main">20% Off</p>
                            <p class="description-main">MacBookpro 2019</p>
                        </div>
                    </div>
                        <div class="contenedor_articulo">
                            <img src="img/img-samsung-galaxy-s10.jpg" alt="Imagen samsung-galaxy-s10">
                            <div class="contenedor_descripcion">
                                <i class="fa-solid fa-truck"></i>
                                <p class="price-main">$70.500</p>
                                <p class="offers-main">10% Off</p>
                                <p class="description-main">Samsung Galaxy S10</p>
                            </div>
                        </div>
                            <div class="contenedor_articulo">
                                <img src="img/img-tv-samsung-smart.jpg" alt="Imagen SmartTv Samsung">
                                <div class="contenedor_descripcion">
                                    <i class="fa-solid fa-truck"></i>
                                    <p class="price-main">$23.200</p>
                                    <p class="offers-main">5% off</p>
                                    <p class="description-main">SmartTv Samsung 43"</p>
                                </div>
                            </div>
        </section>
        <section class="seccion_ofertas">
            <div>
                <h2>Ofertas</h2>
            </div>
                <div class="contenedor_articulo">
                    <img src="img/img-cafetera-moulinex.jpg" alt="Imagen Cafetera Moulinex">
                        <div class="contenedor_descripcion">
                            <i class="fa-solid fa-truck"></i>
                            <p class="price-main">$6.770</p>
                            <p class="offers-main">40% Off</p>
                            <p class="description-main">Cafetera Moulinex</p>
                        </div>
                 </div>
                    <div class="contenedor_articulo">
                        <img src="img/img-macbook-pro-2019.jpg" alt="Imagen Macbookpro 2019">
                        <div class="contenedor_descripcion">
                            <i class="fa-solid fa-truck"></i>
                            <p class="price-main">$230.000</p>
                            <p class="offers-main">20% Off</p>
                            <p class="description-main">MacBookpro 2019</p>
                        </div>
                    </div>
                        <div class="contenedor_articulo">
                            <img src="img/img-samsung-galaxy-s10.jpg" alt="Imagen samsung-galaxy-s10">
                            <div class="contenedor_descripcion">
                                <i class="fa-solid fa-truck"></i>
                                <p class="price-main">$70.500</p>
                                <p class="offers-main">10% Off</p>
                                <p class="description-main">Samsung Galaxy S10</p>
                            </div>
                        </div>
                            <div class="contenedor_articulo">
                            <img src="img/img-tv-samsung-smart.jpg" alt="Imagen SmartTv Samsung">
                            <div class="contenedor_descripcion">
                                <i class="fa-solid fa-truck"></i>
                                <p class="price-main">$23.200</p>
                                <p class="offers-main">5% off</p>
                                <p class="description-main">SmartTv Samsung 43"</p>
                            </div>
                         </div>
        </section>
     </main>
     
        <footer id="footer-info">
            <div>
                <div>   
                    <i class="fa-solid fa-credit-card" ></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                    <div>
                        <i class="fa-solid fa-gift"></i>
                        <h3>Envío gratis desde $ 2.500</h3>
                        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                    </div>
                        <div>
                            <i class="fa-solid fa-user-shield" ></i>
                            <h3>Seguridad, de principio a fin</h3>
                            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                        </div>
                            <div>
                                <p>Copyright © 1999-2023 MercadoLiebre S.R.L.</p>
                            </div>
            </div>
        </footer>  
    </body>
</html>